.App {
  width: 100vw;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #181d21;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e0e0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  background: #272731;
  border: 1px solid #2e2f36;
  margin: 25px;
  border-radius: 15px;
  min-height: 50vh;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.chat {
  flex-grow: 1;
}

.section-header {
  border-bottom: solid 1px #2e2f36;
  padding: 15px;
}

.chat-input {
  border-top: solid 1px #2e2f36;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  textarea {
    padding: 5px;
    width: 85%;
    border: solid 1px #2e2f36;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    border-radius: 5px;
    outline: none;
  }
  .send {
    width: 10%;
    border: none;
    background: rgba(18, 233, 164, 1);
    border-radius: 5px;
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .current {
    display: flex;
    .profile {
      border-radius: 100%;
      background: gray;
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }
}

.messages {
  flex-grow: 1;
}

.config {
  flex-grow: 2;
  width: 100%;
}
