body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscalee
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table, th, td {
width: 100%;
border-radius: .25rem;
color: #545b62;
}

table {
  border-collapse: inherit !important;
}

.btn-bd-light {
  color: #6c757d !important;
  border-color: #dee2e6 !important;
}

.mb-2 {
  margin-bottom: 0.5rem!important;
}
.btn-group-sm>.btn, .btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  border-radius: 0.2rem;
}

.header-row {
  display: flex;
  justify-content: space-between;
}

a.text-light.brand-light {
  text-decoration: underline;
  color: blue !important;
}

